extends layout

block content
    #error-panel.alert.alert-danger.alert-dismissible(role='alert')
        button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') &times;
        |  
        strong Oh Snap!
        |  Some nasty error happened, better refresh this page.
    #editor-pane
