doctype html
html
  head
    title clipboard
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel='stylesheet' href='/stylesheets/vendor/codemirror.css')
  body
    block content    
    script(src='https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.2.0/split.min.js")
    script(src='/javascripts/vendor/codemirror.js')
    script(src='/javascripts/vendor/active-line.js')
    script(src='/javascripts/script.js')    
        